body{
    background-image:linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.3)),url(../assets/images/hogwarts.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: initial;
}
nav{
    background-color: transparent;
}
.brand-logo{
    left: 3vw !important;
}
.logo{
    height: 2em;
}
.flying{
    position: absolute;
    height: 10vw;
    animation-name: fly;
    animation-duration: 6s;
    animation-fill-mode: forwards;
}
.snitch{
    position: absolute;
    height: 5em;
    /* transform: translate(100px,100px); */
    animation-name: revolve;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.sortng-hat{
    position: absolute;
    top: 20vw;
    left: 44vw;
    height: 10vw;
    margin: auto 0;
}
.sortng-hat:hover{
    cursor: pointer;
    animation-name: dance;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
.flying-snitch{
    position: absolute;
    top: 20vw;
    left: 44vw;
    height: 10vw;
    margin: auto 0;
}
@keyframes fly{
    from{transform: translate(-500px) scale(0)}
    to{transform: translate(28vw) scale(.8)}
}
@keyframes dance{
    0% {transform: scale(1) rotate(360deg);}
    100% {transform: scale(.5);}
}
@keyframes revolve {
    0%   {left:40vw; top:45vh;}
    50% {left: 55vw; top: 45vh;}
    100% {left:40vw; top:45vh;}
}